<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: header"></head>
<script th:src="@{/assets/js/select-ui.min.js}"></script>
<link rel="stylesheet" th:href="@{/assets/css/modify.css}" />
<link rel="stylesheet" th:href="@{/assets/css/select.css}" />
<body>
	<div class="place">
    	<span>位置：</span>
	    <ul class="placeul">
	    	<li><a th:href="@{/welcome}">首页</a></li>
	    	<li>闭环及临时性工作</li>
	    	<li>列表查看：</li>
	    </ul>
    </div>
    <form id="searchForm" method="post" class="formbody" th:action="@{/admin/tmp_notice_list}">
    <div class="rightinfo">
		<div class="formtext" th:if="${msg!=null}">
			<b th:text="${msg==null?'':msg}"></b>
		</div>
		<ul class="seachform mauto">
			<li class="ml10">
				<label>检索：</label>
				<input type="text"  th:value="${key_w==null? '' : key_w}" name="key_w" class="new_input"  />
			</li>
			<li class="ml10 mr0">
				<label>发布人：</label>
			</li>
			<li>
				<select class="select1" name="uid">
					<option value="">全部</option>
					<option th:each="a:${authors}" th:value="${a.id}" th:selected="${a.id==uid}" th:text="${a.name}"></option>
				</select>
			</li>
			<li class="ml10 mr0">
				<label>状态：</label>
			</li>
			<li>
				<select class="select1" name="close">
					<option value="">全部</option>
					<option value="1" th:selected="${close==1}">正常</option>
					<option value="0" th:selected="${close==0}">关闭</option>
				</select>
			</li>
			<li class="ml10 mr0"><label>时间从：</label>
				<input type="text" readonly="readonly" th:value="${f_time==null? '' : f_time}" name="f_time" class="new_input Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
			</li>
			<li class="ml10"><label>到：</label>
				<input type="text" readonly="readonly" th:value="${t_time==null? '' : t_time}" name="t_time" class="new_input Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" />
			</li>
			
		    <li class="mr0 fr">
		    	<input name="search" type="hidden" id="search" value="0" />
		    	<input id="searchButton" name="searchButton" type="button" class="scbtn" value="查询"/>
		   		 <div class="clr"></div>
		   	</li>
		   	
			<li class="mr0 fr" style="padding-right: 10px;" th:if="${role!=null and (role==2 or role==1)}">
		    	<input name="search" type="hidden" id="search" value="0" />
		    	<input id="exportButton" name="exportButton" type="button" class="scbtn" value="导出"/>
		   		<div class="clr"></div>
		   	</li>
		</ul>
		<div class="clr"></div>
		<div>
			<span th:unless="${notices!=null and not #lists.isEmpty(notices)}" th:utext="暂无数据！"></span>
			<table class="tablelist mauto" th:if="${notices!=null and not #lists.isEmpty(notices)}">
				<thead>
					<tr>
						<th width="80">序号</th>
						<th width="200">标题</th>
						<th width="100">日期</th>
						<th width="90">级别</th>
						<th width="130">发布人</th>
						<th width="100">状态</th>
						<th width="100">截止日期</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="u,status:${notices}"  th:class="${u.is_delay==1 and u.status==1?'delay':''}">
						<td th:text="${status.count}">序号</td>
						<td><div th:text="${u.title}" class="mesgDiv">标题</div></td>
						<td th:text="${beans.dateFormatter.formatDateToStr(u.create_time)}"></td>
						<td><div th:text="${u.jibie_name}" class="mesgDiv"></div></td>
						<td th:text="${u.author}"></td>
						<td th:text="${u.status==1?'正常':'关闭'}"></td>
						<td th:text="${u.over_time==null?'':beans.dateFormatter.formatDateToStr(u.over_time,'yyyy-MM-dd HH:mm:ss')}"></td>
						<td>
							<a th:if="${sec!=null and sec.principal!=null and sec.principal.id==1}" th:href="@{/admin/tmp_notice_edit(id=${u.id})}">修改</a>
							<a th:href="@{/admin/tmp_notice_create(id=${u.id})}">查看</a>
							<img th:if="${u.is_new==1 and sec!=null and sec.principal!=null and sec.principal.id!=1}" width="15px" th:src="@{/assets/images/new.png}"/>
							<a th:if="${sec!=null and sec.principal!=null and sec.principal.id==1}" th:href="@{/admin/tmp_notice_del(id=${u.id})}"  onclick="return confirm('是否确认删除？');">删除</a>
							<!-- <a th:if="${u.user_id==sec.principal.id and u.status==1}" th:href="@{/admin/tmp_notice_update_status(id=${u.id},status=0)}">关闭</a> -->
							
						</td>
					</tr>
				</tbody>
			</table>
			<div class="mt10" th:if="${notices!=null and not #lists.isEmpty(notices)}" th:include="fragment/paginationbar :: paginationbar"></div>
        </div>
	</div>
	</form>
</body>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function() {
	$("#searchButton").click(function(){
		 var f_t=$("input[name=f_time]").val();
			var t_t=$("input[name=t_time]").val();
			if(f_t.length!=0){
				if(t_t.length==0){
					alert("请输入截止日期！");
					return false;
				}
			}
			if(t_t.length!=0){
				if(f_t.length==0){
					alert("请选择起始日期！");
					return false;
				}
			}
			if(f_t.length!=0&&t_t.length!=0){
				var f = f_t.split("-");
				var t = t_t.split("-");
				if(new Date(f[0],f[1],f[2]) > new Date(t[0],t[1],t[2])){
					alert("开始时间必须小于结束时间");
					return false;
				}
			}
		$("#search").val(1);
		$("#searchForm").submit();
	});
	$(".select1").uedSelect({
		width : 168
	});
	
	$("#exportButton").click(function(){
		var key_w=$("input[name=key_w]").val();
		var uid=$("select[name=uid]").val();
		var close=$("select[name=close]").val();
		var f_time=$("input[name=f_time]").val();
		var t_time=$("input[name=t_time]").val();
		if(f_time.length!=0){
			if(t_time.length==0){
				alert("请输入截止日期！");
				return false;
			}
		}
		if(t_time.length!=0){
			if(f_time.length==0){
				alert("请选择起始日期！");
				return false;
			}
		}
		if(f_time.length!=0&&t_time.length!=0){
			var f = f_time.split("-");
			var t = t_time.split("-");
			if(new Date(f[0],f[1],f[2]) > new Date(t[0],t[1],t[2])){
				alert("开始时间必须小于结束时间");
				return false;
			}
		}

		post('tmp_notice_exp', {key_w :key_w,uid:uid,close:close,f_time:f_time,t_time:t_time});
		//window.location.href="tmp_notice_exp?key_w="+key_w+"&uid="+uid+"&close="+close+"&f_time="+f_time+"&t_time="+t_time;
	});
	
	function post(URL, PARAMS) {      
	    var temp = document.createElement("form");      
	    temp.action = URL;      
	    temp.method = "post";      
	    temp.style.display = "none";      
	    for (var x in PARAMS) {      
	        var opt = document.createElement("textarea");      
	        opt.name = x;      
	        opt.value = PARAMS[x];      
	        // alert(opt.name)      
	        temp.appendChild(opt);      
	    }      
	    document.body.appendChild(temp);      
	    temp.submit();      
	    return temp;      
	}      
	     
	//调用方法 如      
});
/*]]>*/
</script>
</html>