<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>欢迎登录后台管理系统</title>
	<link rel="stylesheet" href="../assets/css/style.css" th:href="@{/assets/css/style.css}" />
	<script th:src="@{/assets/js/jquery-1.9.1.js}"></script>
	<script th:src="@{/assets/js/jquery.cookie.js}"></script>
</head>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
if (top.location != self.location) {       
	top.location = [[@{/login}]];
}

$(function() {
    $('.loginbox').css({'top':(($(window).get(0).innerHeight-407) / 2)+'px','left':($(window).width() - 692) / 2});
	$('.loginShadow').css({'top':(($(window).get(0).innerHeight-427) / 2)+'px','left':($(window).width() - 712) / 2});
    $(window).resize(function() {  
    	$('.loginbox').css({'top':(($(window).get(0).innerHeight-407) / 2)+'px','left':($(window).width() - 692) / 2});
    });
	
	if ($.cookie("rmbUser") == "true") {
		$("#rmbUser").attr("checked", true);
		$("#j_username").val($.cookie("userName"));
		$("#j_password").val($.cookie("passWord"));
	}
	
	$("#submitButton").click(function() {
		saveUserInfo();
		$("#loginForm").submit();
	});
});

function saveUserInfo() {
	if ($("#rmbUser").attr("checked") == true) {
		var userName = $("#j_username").val();
		var passWord = $("#j_password").val();
		$.cookie("rmbUser", "true", {expires : 7}); // 存储一个带7天期限的 cookie
		$.cookie("userName", userName, {expires : 7}); // 存储一个带7天期限的 cookie
		$.cookie("passWord", passWord, {expires : 7}); // 存储一个带7天期限的 cookie
	} else {
		$.cookie("rmbUser", "false", {expires : -1});
		$.cookie("userName", '', {expires : -1});
		$.cookie("passWord", '', {expires : -1});
	}
}
	$(document).ready(function(){
		$("body").keypress(function(event){
			event=event||window.event;
			keyNum=event.keyCode;
			if(keyNum==13){
				$("#loginForm").submit();
			}
		})
	})
/*]]>*/
</script>
<body th:style="'background-color:#1c77ac; background:url(' + @{/assets/images/loginBg.jpg} + ') center center no-repeat; overflow:hidden; height:500px;'">
    <div class="loginbody">
    	<div class="loginbox">
    		<span class="systemlogo"></span>
    		<form action="authentication" id="loginForm" th:action="@{/authentication}" method="post">
		    <ul>
		    	<li><input id="j_username" name="j_username" type="text" class="loginuser" placeholder="账号" value="ligen" /></li>
		    	<li><input id="j_password" name="j_password" type="password" class="loginpwd" placeholder="密码" value="111111"/></li>
		    	<li>
		    		<label style="float:right;"><input id="rmbUser" name="rmbUser" type="checkbox" checked="checked" />记住密码</label>
		    		<input type="button" class="loginbtn" value="登录"  id="submitButton"  />
		    		<!--  <label><a href="#">忘记密码？</a></label>-->
		    		<span th:if="${error!=null}" style="color: red;">用户名或密码错误！</span>
		    	</li>
		    </ul>
		    </form>
    	</div>
    </div>
    <div class="loginShadow"></div>
    <div class="loginbm">版权所有  2014</div>   
</body>
</html>