<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: header"></head>
<script th:src="@{/assets/js/select-ui.min.js}"></script>
<link rel="stylesheet" th:href="@{/assets/css/styleright.css}" />
<link rel="stylesheet" th:href="@{/assets/css/base_resource.css}" />
<link rel="stylesheet" th:href="@{/assets/css/select.css}" />
<link rel="stylesheet" th:href="@{/assets/css/modify.css}" />
<style>
	body {background:#fdf6fd;}
	.formbody {background:#fff;position:relative;width:1100px;padding-bottom:50px;}
	.mauto1 {position:absolute;top:53px;left:31px;}
	.mauto2 {bottom:-50px;}
	.mauto3 {bottom:-200px;}
	.mauto4 {bottom: -255px;left: 440px;}
	.mauto5 {bottom:-350px;padding-bottom:60px;margin-left:400px;}
	.mauto5,.mauto3,.mauto2,.mauto4{position:absolute;}
	.recordTitle0 {background:none;height:25px;}
	.recordTitle0 td {border:none;}
	.recordTitle0 input{background:none;}
	#pl_name {
	font-weight: normal;
	border-bottom: 1px solid #ccc;
}

#pl_name:hover {
	color: #626262;
}
.new-table-title {margin-bottom:0px;letter-spacing:2px;}
.formtext2 {height:auto;}
.webForm {width:1025px;margin-left:40px;}
.recordTitle0 span {font-weight:normal;color:#000;}
.table100 input[type=text] {border:none;font-size:13px;font-family:'微软雅黑'}
.record0+table td {border-color:#000;height:25px;}
.forminfo li.analyzeFooter label {width:auto;}
.analyzeFooter>div {width:auto;margin:0px;}
.forminfo li.analyzeFooter {margin-top:0px;margin-bottom:0px;}
.forminfo li label {font-size:13px;font-family: '微软雅黑';}
.forminfo li .vocation label {line-height:40px;}
.mt20{position:relative;top:60px;}
.formbodynew1{width: 935px;margin-top:100px;padding:90px 30px 65px 45px;height:585px;}
.analyzeFooter input{border:none;font-size:12px;height:34px;line-height:34px;}
.forminfo li label{margin-right:0;}
</style>
<body>
	<div class="place">
    	<span>位置：</span>
	    <ul class="placeul">
	    	<li><a th:href="@{/welcome}">首页</a></li>
	    	<li>基础资料</li>
	    	<li><a th:href="@{'/admin/base/p_measure/2016/list?' + ${verify==1?'verify=1':''}}">绝缘接头(法兰)性能测量记录<th:block th:text="${verify==1?'审核':'查看'}"></th:block></a></li>
	    	<li>详情：</li>
	    </ul>
    </div>
    <div>
    	<div class="formtext" th:if="${msg!=null}">
			<b th:text="${msg==null?'':msg}"></b>
		</div>
	</div>
	<div th:if="${pm==null}" class="formbody" style="padding-bottom:0px;padding:8px;">
    	暂无数据！
    </div>
    <div th:if="${pm!=null}" class="formbodynew1">
   		<div class="formtext2">
			<h3 class="new-table-title">绝缘接头（法兰）性能测量记录</h3>
		</div>       
    	    <ul class="forminfo">
        	<li class="mauto mauto1">
		    	<div class="usercity">
		    		<div class="cityleft">
			        	<select name="sh_pl_id" class="select1">
			        		<option value="-1" th:text="全部管线段" />
			        		<option th:each="pll:${pipeLineList}" th:selected="${s_pl_id != null and s_pl_id == pll.id}" th:value="${pll.id}" th:text="${pll.name}"></option>
			            </select>
		            </div>
		            <div class="cityleft" hidden="hidden">
			            <span>管线名称：</span>
						<input type="text" name="sh_pl_name" class="new_input" th:value="${s_pl_name==null?'':s_pl_name}"/>	
		            </div>
		            <div class="cityright" style="padding-left: 10px">
		            	<ul class="seachform mauto">
				            <li class="mr20">
								<span>时间：</span>
								<input type="text" id="s_year" th:value="${s_year==null? '' : s_year}" name="sh_year" class="new_input Wdate" onClick="WdatePicker({dateFmt:'yyyy'})" />
							</li>
					    	<li class="fr mr0" th:if="${role!=null and role==2 and (verify==null or verify != 1)}">
					    		<input id="exportButton" name="exportButton" type="button" class="scbtn" value="导出"/>
					    	</li>
					    	<li class="fr mr20">
					    		<input id="searchButton" type="button" class="scbtnModi" value="查询"/>
					    	</li>
		            	</ul>
	            	</div>	            
		        </div>
		        <div class="clr"></div>
		     </li>
			 <li class="mauto clr" style="clear:both;margin-bottom:0px;">
				<form id="searchForm" method="post">
		     	<input type="hidden" name="pm_id" id="pm_id" th:value="${pm.id}"/>
		     	<input type="hidden" name="all" id="all" th:value="${all}"/>
		     	<input type="hidden" name="auditor" id="sa_auditor" th:value="${pm.auditor}"/>
				<input type="hidden" name="pl_id" th:value="${pm.pl_id}"/>				
				<input type="hidden" name="verify" th:value="${verify}"/>
				<input type="hidden" name="up_id" th:value="${pm.up_id}"/>
				<input type="hidden" name="created_by" id="sa_created_by" th:value="${pm.created_by}"/>
		     	<input type="hidden" name="name" th:value="${pm.name}"/>
		     	<input type="hidden" name="s_pl_id" id="s_pl_id" th:value="${s_pl_id!=null?s_pl_id:0}"/>
				<input type="hidden" name="s_pl_name" id="s_pl_name" th:value="${s_pl_name!=null?s_pl_name:''}"/>
				<input type="hidden" name="s_c_month" id="s_c_month" th:value="${s_c_month!=null?s_c_month:''}"/>
				<input type="hidden" name="s_id" id="s_id" th:value="${s_id!=null?s_id:0}"/>
				<input type="hidden" name="s_user_name" id="s_user_name" th:value="${s_user_name!=null?s_user_name:''}"/>
				<div class="record0"></div>
        		<table class="mauto table100" style="width:100%;">
       				<tr class="recordTitle0 lh25">
            			<td colspan="15" style="border:none;">
            				<div class="fl">
                				<span>井（站）</span>
                    			<input type="text" name="jinzhan" th:value="${pm.jinzhan}" class="new_input" style="width:100px;" th:readonly="${pm.canEdit==false}"/>
                    		</div>
                   			 <!-- <div class="fl mingc" style="margin-left:30px;">
                    				<span>管线名称及规格：</span>
                    				<a id="pl_name"></a>
                    			</div> -->
                    		<div class="fr">
                    			<span style="width:50px;">年</span>
		            			<input th:if="${pm.canEdit==false}" type="text" th:value="${pm.m_year}" name="m_year" class="new_input Wdate fl" style="width:50px;margin-top:4px;" readonly="readonly"/>
		            			<input th:if="${pm.canEdit==true}" type="text" th:value="${pm.m_year}" name="m_year" class="new_input Wdate fl" onClick="WdatePicker({dateFmt:'yyyy'})" style="width:50px;margin-top:4px;"/>
                			</div>
                			<div class="clr"></div>
                		</td>
            		</tr>
            		<tr>
            			<td width="70px">位置</td>
                		<td width="110px">类别</td>
                		<td width="64px">1月</td>
                		<td width="64px">2月</td>
                		<td width="64px">3月</td>
                		<td width="64px">4月</td>
                		<td width="64px">5月</td>
                		<td width="64px">6月</td>
                		<td width="64px">7月</td>
                		<td width="64px">8月</td>
                		<td width="64px">9月</td>
                		<td width="64px">10月</td>
                		<td width="64px">11月</td>
                		<td width="64px">12月</td>
            		</tr>
            		<tr th:each="d ,status:${pm.detailList}">
                		<td th:if="${status.count%3==1}" rowspan="3"><input type="text" th:value="${(d.status==-3 and pm.canEdit==false)?'/':d.position}" readonly="readonly" name="position" style="width:60px"/></td>
                		<td th:if="${status.count%3==1}">通电点电位(-V)</td>
            			<td th:if="${status.count%3==2}">保护端(-V)</td>
                		<td th:if="${status.count%3==0}">未保护端(-V)</td>
                		
                		<td>
                			<input type="hidden" name="pmd_id" th:value="${d.id}"/>
                			<input type="text" 
                			th:style="'width:100%;height:100%;background-color:'+ @{(${d.status}== 0?'orange' :(${d.status}== -1?'pink':(${d.status}== -2?'red':(${d.status}== 1?'yellow':''))))}"
                			name="month_1" th:readonly="${pm.canEdit==false}" th:value="${(d.status==-3 and pm.canEdit==false)?'/':d.month_1}"/>
                		</td>
                		<td>
                		    <input 
                		     th:style="'width:100%;height:100%;background-color:'+ @{(${d.status}== 0?'orange' :(${d.status}== -1?'pink':(${d.status}== -2?'red':(${d.status}== 1?'yellow':''))))}"
                		     type="text" name="month_2" th:readonly="${pm.canEdit==false}" th:value="${(d.status==-3 and pm.canEdit==false)?'/':d.month_2}"/></td>
                		<td>
                		     <input
                		     th:style="'width:100%;height:100%;background-color:'+ @{(${d.status}== 0?'orange' :(${d.status}== -1?'pink':(${d.status}== -2?'red':(${d.status}== 1?'yellow':''))))}"
                		     type="text" name="month_3" th:readonly="${pm.canEdit==false}" th:value="${(d.status==-3 and pm.canEdit==false)?'/':d.month_3}"/></td>
                		<td>
                		    <input 
                		     th:style="'width:100%;height:100%;background-color:'+ @{(${d.status}== 0?'orange' :(${d.status}== -1?'pink':(${d.status}== -2?'red':(${d.status}== 1?'yellow':''))))}"
                		     type="text" name="month_4" th:readonly="${pm.canEdit==false}" th:value="${(d.status==-3 and pm.canEdit==false)?'/':d.month_4}"/></td>
                		<td>
                		    <input
                		     th:style="'width:100%;height:100%;background-color:'+ @{(${d.status}== 0?'orange' :(${d.status}== -1?'pink':(${d.status}== -2?'red':(${d.status}== 1?'yellow':''))))}"
                		     type="text" name="month_5" th:readonly="${pm.canEdit==false}" th:value="${(d.status==-3 and pm.canEdit==false)?'/':d.month_5}"/></td>
                		<td>
                		    <input
                		     th:style="'width:100%;height:100%;background-color:'+ @{(${d.status}== 0?'orange' :(${d.status}== -1?'pink':(${d.status}== -2?'red':(${d.status}== 1?'yellow':''))))}"
                		     type="text" name="month_6" th:readonly="${pm.canEdit==false}" th:value="${(d.status==-3 and pm.canEdit==false)?'/':d.month_6}"/></td>
                		<td>
                		    <input
                		     th:style="'width:100%;height:100%;background-color:'+ @{(${d.status}== 0?'orange' :(${d.status}== -1?'pink':(${d.status}== -2?'red':(${d.status}== 1?'yellow':''))))}"
                		     type="text" name="month_7" th:readonly="${pm.canEdit==false}" th:value="${(d.status==-3 and pm.canEdit==false)?'/':d.month_7}"/></td>
                		<td>
                		    <input 
                		     th:style="'width:100%;height:100%;background-color:'+ @{(${d.status}== 0?'orange' :(${d.status}== -1?'pink':(${d.status}== -2?'red':(${d.status}== 1?'yellow':''))))}"
                		     type="text" name="month_8" th:readonly="${pm.canEdit==false}" th:value="${(d.status==-3 and pm.canEdit==false)?'/':d.month_8}"/></td>
                		<td>
                		     <input
                		     th:style="'width:100%;height:100%;background-color:'+ @{(${d.status}== 0?'orange' :(${d.status}== -1?'pink':(${d.status}== -2?'red':(${d.status}== 1?'yellow':''))))}"
                		     type="text" name="month_9" th:readonly="${pm.canEdit==false}" th:value="${(d.status==-3 and pm.canEdit==false)?'/':d.month_9}"/></td>
                		<td>
                		     <input 
                		     th:style="'width:100%;height:100%;background-color:'+ @{(${d.status}== 0?'orange' :(${d.status}== -1?'pink':(${d.status}== -2?'red':(${d.status}== 1?'yellow':''))))}"
                		     type="text" name="month_10" th:readonly="${pm.canEdit==false}" th:value="${(d.status==-3 and pm.canEdit==false)?'/':d.month_10}"/></td>
                		<td>
                		     <input
                		     th:style="'width:100%;height:100%;background-color:'+ @{(${d.status}== 0?'orange' :(${d.status}== -1?'pink':(${d.status}== -2?'red':(${d.status}== 1?'yellow':''))))}"
                		     type="text" name="month_11" th:readonly="${pm.canEdit==false}" th:value="${(d.status==-3 and pm.canEdit==false)?'/':d.month_11}"/></td>
                		<td>
                		     <input 
                		     th:style="'width:100%;height:100%;background-color:'+ @{(${d.status}== 0?'orange' :(${d.status}== -1?'pink':(${d.status}== -2?'red':(${d.status}== 1?'yellow':''))))}"
                		     type="text" name="month_12" th:readonly="${pm.canEdit==false}" th:value="${(d.status==-3 and pm.canEdit==false)?'/':d.month_12}"/></td>
                	
            		</tr>
        		</table>
        		 <div class="analyzeFooter">
		        	<div class="fl tl">
			        	<label class="fl tr">填报人：</label>
			        	<input class="fl tl" name="sa_created_by" th:value="${pm.created_by}"></input>
			        	<div class="clr"></div>
		        	</div>
		            <div class="fr">
		            	<label class="fl tr">审核人：</label>
		            	<input class="fl tl" name="sa_auditor"  th:value="${pm.auditor}"></input>
		            	<div class="clr"></div>
		            </div>
		            <div class="clr"></div>
		        </div>
    			<div class="mt20" th:if="${pm!=null and not #lists.isEmpty(pm)}" th:include="fragment/paginationbar :: paginationbar"></div>
        		</form>
       		 </li>	              
        
         <li class="mauto mauto2" th:if="${verify == 1}">
		    	<label class="labelModi tl"><span class="red">*</span>当前审核状态:</label>
		    	<div class="vocation">
			    	<select name="status" class="select1" th:if="${verify == 1}">
		        		<option th:selected="${0 == pm.status}" th:value="0">待审核</option>
		        		<option th:selected="${1 == pm.status}" th:value="1">通过</option>
		        		<option th:selected="${-1 == pm.status}" th:value="-1">不通过</option>
		            </select>
		            <label th:if="${verify != 1}" th:text="${pm.status == 0?'待审核':pm.status == 1?'通过':'不通过'}"></label>
	            </div>
	            <div class="clr"></div>
		 </li>
		 <li class="mauto mauto3" th:if="${verify == 1}">
		    	<label class="labelModi tl"><span class="red">*</span>审核说明:</label>
		    	<textarea style="width:830px;" class="textinput" rows="" cols="" name="verify_desc" th:readonly="${verify != 1}" placeholder="审核说明" th:text="${pm.verify_desc}"></textarea>
		    	<div class="clr"></div>
		 </li>
		 <li class="mauto20 tc mauto4" th:if="${verify == 1}">
		    	<input id="saveButton" type="button" class="btn" value="确认保存"/>
		 </li>
		 <li th:if="${role!=null and role==3}">
				<!-- <input type="button" value="保存" class="btn" id="saveButton_modify" />
				<input type="button" value="提交审核" class="btn" id="auditingButton" /> -->
				<input type="button" value="保存并审核" class="btn" id="saveSubmitButton" />
				<input type="hidden" name="up_id" />
		 </li>
	   </ul>
    </div>
</body>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function() {
	
	function resetData()
	{
		$("#s_pl_id").val($("select[name=sh_pl_id]").val());
		$("#s_pl_name").val($("input[name=sh_pl_name]").val());
		$("#s_year").val($("input[name=sh_year]").val());
		$("#sa_created_by").val($("input[name=sa_created_by]").val());
		$("#sa_auditor").val($("input[name=sa_auditor]").val());
	}
	//查询
	$("#searchButton").click(function(){
		resetData();
		var params = "?";
		var s_pl_id=$("#s_pl_id").val();
		if(s_pl_id > 0)
			params += "&s_pl_id=" + s_pl_id;
		var s_pl_name = $("#s_pl_name").val();
		if(s_pl_name !== null && s_pl_name !== undefined && s_pl_name.length > 0)
			params += "&s_pl_name="+s_pl_name;
		var s_year = $("#s_year").val();
		if(s_year !== null && s_year !== undefined && s_year.length > 0)
			params += "&s_year="+s_year;
		var s_user_name = [[${s_user_name}]];
		if(s_user_name !== null && s_user_name !== undefined && s_user_name.length > 0)
			params += "&s_user_name="+s_user_name;
		if([[${s_id}]] > 0)
			params += "&s_id="+[[${s_id}]];
		if([[${verify==1}]])
			params += "&verify=1";
		if([[${all!=null}]])
			params += "&all="+[[${all}]];
		window.location.href = [[@{/admin/base/p_measure/2016/show}]] + params;
	});
	/*
	//保存修改
	$("#saveButton_modify").click(function(){
		var formNode = $("#searchForm");
		formNode.attr("action",[[@{/admin/base/new/p_measure/modify}]]+"");
		formNode.submit();
	});
	
	//提交审核
	$("#auditingButton").click(function(){
		var formNode = $("#searchForm");
		formNode.attr("action",[[@{/admin/base/new/p_measure/batch_changestatus}]]+"?oldStatus=-1&oldStatus=-2&newStatus=0");
		formNode.submit();		
	});*/
	
	//导出
	$("#exportButton").click(function() {
		resetData();
		var params = "?";
		var s_pl_id=$("#s_pl_id").val();
		if(s_pl_id > 0)
			params += "&s_pl_id=" + s_pl_id;
		var s_pl_name = $("#s_pl_name").val();
		if(s_pl_name !== null && s_pl_name !== undefined && s_pl_name.length > 0)
			params += "&s_pl_name="+s_pl_name;
		var s_year = $("#s_year").val();
		if(s_year !== null && s_year !== undefined && s_year.length > 0)
			params += "&s_year="+s_year;
		var s_user_name = [[${s_user_name}]];
		if(s_user_name !== null && s_user_name !== undefined && s_user_name.length > 0)
			params += "&s_user_name="+s_user_name;
		var s_id = [[${s_id}]];
		if(s_id > 0)
			params += "&s_id="+s_id;
		if([[${all!=null}]])
			params += "&all="+[[${all}]];
		window.location.href=[[@{/admin/base/p_measure/2016/exp}]]+params;		
	});
	
	//提交审核
	$("#saveSubmitButton").click(function(){
		resetData();
		var formNode = $("#searchForm");
		formNode.attr("action",[[@{/admin/base/p_measure/2016/save}]]+"?status=0&modify=1");
		formNode.submit();
	});
	
	$("#saveButton").click(function() {
		var verify_desc = $("textarea[name=verify_desc]").val();
		var status = $("select[name=status]").val();
		if(status== -1 && verify_desc.length==0){
			alert("审核说明不能为空！");
			return;
		}
		if (status != 0 && confirm("是否确认保存？")) {
			var pmid = [[${pm.id}]];
			var verify_desc = $("textarea[name=verify_desc]").val();
			var button = $(this);
			$.ajax({
	   			url : [[@{/admin/base/p_measure/2016/verify_save}]],
	   			data : {
	   				'id' : pmid,
	   				'verify_desc' : verify_desc,
	   				'status' : status
	   			},
	   			dataType: 'json',
	   			type: 'post',
	   			async: false,
	   			success : function(data, textStatus, jqXHR) {
	   				//$("div.formbody").before("<div class='formtext'><b>审核成功!</b></div>")
	   				//scrollTo(0,0);
	   				//$("select[name=status]").prop("disabled", true);
	   				//$("textarea[name=verify_desc]").prop("readonly", true);
	   				//button.parent().remove();
	   				alert("审核成功！");
	   				window.location.href = [[@{/admin/base/p_measure/2016/list?all=false&verify=1}]];
	   			}
	   		});
		}
	});
	
	
	$(".select1").uedSelect({
		width : 168
	});
});
/*]]>*/
</script>
</html>