<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: header"></head>
<script th:src="@{/assets/js/select-ui.min.js}"></script>
<link rel="stylesheet" th:href="@{/assets/css/select.css}" />
<link rel="stylesheet" th:href="@{/assets/css/modify.css}" />
<body>
	<div class="place">
    	<span>位置：</span>
	    <ul class="placeul">
	    	<li><a th:href="@{/welcome}">首页</a></li>
	    	<li>基础资料</li>
	    	<li>管道巡检工作记录<th:block th:text="${verify==1?'审核':'查看'}"></th:block>：</li>
	    </ul>
    </div>
    <form id="searchForm" method="post" class="formbody" >
    <div class="rightinfo">
		<div class="formtext" th:if="${msg!=null}">
			<b th:text="${msg==null?'':msg}"></b>
		</div>
		<div >
			<input type="hidden" id="all" th:value="${all}"/>
		</div>
		<ul class="seachform mauto">
						<li class="mr20">
							<select name="pl" class="select1">
				            	<option value="0">全部管线</option>
				        		<option th:each="pll:${pipeLineList}" th:selected="${pl == pll.id}" th:value="${pll.id}" th:text="${pll.name}"></option>
			            	</select>
						</li>
						<li class="mr20">
							<select name="section" class="select1">
				            	<option value="0">全部起止段落</option>
				        		<option th:each="sec:${sectionList}" th:selected="${section ==sec.id}" th:value="${sec.id}" th:text="${sec.name}"></option>
			           		</select>
						</li>
						<li class="mr20">
							<select name="spec" class="select1">
				            	<option value="0">全部规格</option>
				        		<option th:each="sec:${specList}" th:selected="${spec ==sec.id}" th:value="${sec.id}" th:text="${sec.name}"></option>
			            	</select>
						</li>
						<li class="mr0 mb10"><input id="searchButton" name="searchButton" type="submit" class="scbtn" value="查询"/></li>
		    		</ul>
		<div class="clr"></div>
		<div class="tableModi2">         
         	<div class="list dot" th:if="${ps.id!=null}" th:id="${ps.id}" th:title="${ps.name}" th:text="${ps.name}" th:each="ps:${specLists}">
       			重点线
       		</div>
         </div>
	</div>
	</form>
	<div id="showBox" style="display:none;border:1px solid black;position:fixed;left:300px;top:200px;height:230px;width:300px;z-index:99;background:#fff">
		<div style="height:30px;width:100%;background:#eee;">
			<label id="close" style="float:right;padding:1px 10px 3px 0;font-size:20px">x</label>
		</div>
		
		<ul style="margin:30px">
			<li>
				<label>创建时间:</label>
				<input type="text" readonly="readonly" name="create_t" class="new_input Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
			</li>
			<li id="verify_li" style="margin-top:10px">
				<label>审核时间:</label>
				<input type="text" readonly="readonly" name="verify_t" class="new_input Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
			</li>
			<li style="margin-top:20px;text-align:center">
				<input class="btn" type="button" id="change_button" value="确认修改"/>
				<input type="hidden" id="ids"/>
			</li>
		</ul>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
           
     $(function(){
    	$(".list").on("click",function(){
    		var id = $(this).attr("id");
    		if([[${verify==1}]]){
	    		window.location.href = [[@{/admin/base/new/pl_patrol/show}]] + "?verify=1&offset=0&id=" + id;
    		}else{
	    		window.location.href = [[@{/admin/base/new/pl_patrol/show}]] + "?offset=0&id=" + id;
    		}
    	}); 
     });   
     
           function getJSON(o, e, n,t) {
        $.ajax({
            url: o,
            type: t,
            dataType: "json",
            data: e ? e: {}
        }).done(function(o) {
            n && n(o)
        }).fail(function() {
            console.log("error")
        }).always(function() {
            console.log("complete")
        })
    }
function changeTime(ids){
	getJSON([[@{/admin/base/new/pl_patrol/getTime}]],{id:ids},
			function(o){
			if(o.status!=200){
				alert(o.message);
				return false;
			}
			$("input[name=create_t]").val(o.data.create_t);
			if(o.data.verify_t!=null && o.data.verify_t !=""){
				$("input[name=verify_t]").val(o.data.verify_t);
				$("#verify_li").show();
			} else {
				$("input[name=verify_t]").val('');
				$("#verify_li").hide();
			}
	},
	"get");
	$("#ids").val(ids);
	$("#showBox").show();
	
	
}
$("#change_button").click(function(){
	var create_t = $("input[name=create_t]").val();
	var verify_t = $("input[name=verify_t]").val();
	getJSON([[@{/admin/base/new/pl_patrol/setTime}]],{id:$("#ids").val(),create_t:create_t,verify_t:verify_t},
			function(o){
			if(o.status!=200){
				alert(o.message);
				return false;
			}
			alert("修改成功!");
	},
	"get");
	$("#showBox").hide();
});
$("#close").click(function(){
	$("#showBox").hide();
});
           
$(document).ready(function() {
	$(".select1").uedSelect({
		width : 168
	});
	
	$("#exportButton").click(function(){
		var pl=$("select[name=pl]").val();
		var section=$("select[name=section]").val();
		var spec=$("select[name=spec]").val();
		var p_month=$("input[name=p_month]").val();
		window.location.href="exp?pl="+pl+"&section="+section+"&spec="+spec;
	});
	
	$("select[name=pl]").change(function() {
		var cid = $(this).val();
		if (cid == '0') {
			return;
		}
		var all = $("#all").val();
		$.ajax({
   			url : [[@{/admin/base/new/pl_patrol/section/get}]],
   			data : {
   				pl_id: cid,
   				all: all
   			},
   			dataType: 'json',
   			type: 'get',
   			async: false,
   			success : function(data, textStatus, jqXHR) {
 				$("select[name=section]").empty();
 				$("select[name=section]").trigger("change");
   				if (data.length > 0) {
   					var options='<option value="0">全部起止段落</option>';
   					
   					for (var i = 0; data.length > i; i++) {
   						options += "<option value='" + data[i].id + "'>" + data[i].name + "</option>";
   	   				}
   					$("select[name=section]").append(options);
   				}
   				$("select[name=section]").trigger("change");
   			}
   		});
	});
	
	$("select[name=section]").change(function() {
		var cid = $(this).val();
		if (cid == '0' || cid == null) {
			return;
		}
		$.ajax({
   			url : [[@{/admin/base/spec/get}]],
   			data : {
   				pl_section_id: cid
   			},
   			dataType: 'json',
   			type: 'get',
   			async: false,
   			success : function(data, textStatus, jqXHR) {
 				$("select[name=spec]").empty();
 				$("select[name=spec]").trigger("change");
   				if (data.length > 0) {
   					var options='<option value="0">全部规格</option>';
   					
   					for (var i = 0; data.length > i; i++) {
   						options += "<option value='" + data[i].id + "'>" + data[i].name + "</option>";
   	   				}
   					$("select[name=spec]").append(options);
   				}
   				$("select[name=spec]").trigger("change");
   			}
   		});
	});
	
	$("select[name=spec]").change(function() {
		var cid = $(this).val();
		if (cid == '0' || cid == null) {
			return;
		}
		
		var plname = $("select[name=pl] option:selected").text();
		var specname = $("select[name=spec] option:selected").text();
		
		$("#pl_name").html(plname + '/' + specname);
	});
});


/*]]>*/
</script>
</html>