<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: header"></head>
<script th:src="@{/assets/js/select-ui.min.js}"></script>
<link rel="stylesheet" th:href="@{/assets/css/select.css}" />
<link rel="stylesheet" th:href="@{/assets/css/modify.css}" />
<body>
	<div class="place">
    	<span>位置：</span>
	    <ul class="placeul">
	    	<li><a th:href="@{/welcome}">首页</a></li>
	    	<li>基础资料</li>
	    	<li>阴极保护站运行记录审核：</li>
	    </ul>
    </div>
    <form id="searchForm" method="post" class="formbody">
    <div class="rightinfo">
		<div class="formtext" th:if="${msg!=null}">
			<b th:text="${msg==null?'':msg}"></b>
		</div>
		<div class="clr"></div>				
		<div class="tableModi2">
			<span th:unless="${rcList!=null and not #lists.isEmpty(rcList)}" th:utext="暂无数据！"></span>
			<table class="tablelist mauto" th:if="${rcList!=null and not #lists.isEmpty(rcList)}">
				<thead>
					<tr>
						<th width="60">序号</th>
						<th width="100">所属管线</th>
						<th width="150">起止段落</th>
						<th width="80">管线规格</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="rc,status:${rcList}">
						<td th:text="${status.count}">序号</td>
						<td th:text="${rc.pl_name}">名称</td>
						<td th:text="${rc.pl_section_name}"></td>
						<td th:text="${rc.pl_spec_name}"></td>
						<td>
							<a th:href="@{/admin/base/new/rc/show_verify(pl_id=${rc.pl_id},pl_section_id=${rc.pl_section_id},pl_spec_id=${rc.pl_spec_id},f=1)}">审核</a>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
	</div>
	</form>
</body>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
    
/*]]>*/
</script>
</html>