<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: header"></head>
<script th:src="@{/assets/js/select-ui.min.js}"></script>
<link rel="stylesheet" th:href="@{/assets/css/select.css}" />
<link rel="stylesheet" th:href="@{/assets/css/modify.css}" />
<body>
	<div class="place">
    	<span>位置：</span>
	    <ul class="placeul">
	    	<li><a th:href="@{/welcome}">首页</a></li>
	    	<li>账户管理 </li>
	    	<li>维护工账号查询：</li>
	    </ul>
    </div>
    <form id="searchForm" method="post" class="formbody">
		<div class="formtext" th:if="${msg!=null}">
			<b th:text="${msg==null?'':msg}"></b>
		</div>
		<ul class="seachform mauto">
			<li>
				<select name="pl" class="select1">
					<option value="0">全部管线</option>
				    <option th:each="pll:${pipeLineList}" th:selected="${pl == pll.id}" th:value="${pll.id}" th:text="${pll.name}"></option>
			    </select>
			</li>
			<li>
				<select name="section" class="select1">
					<option value="0">全部起止段落</option>
				    <option th:each="sec:${sectionList}" th:selected="${section ==sec.id}" th:value="${sec.id}" th:text="${sec.name}"></option>
			    </select>
			</li>
			<li>
				<select name="spec" class="select1">
					<option value="0">全部规格</option>
				    <option th:each="sec:${specList}" th:selected="${spec ==sec.id}" th:value="${sec.id}" th:text="${sec.name}"></option>
			    </select>
			</li>
		    <li class="fr mr0"><label>&nbsp;</label><input id="searchButton" name="searchButton" type="submit" class="scbtn" value="查询"/></li>
		</ul>
		<div>
			<span th:unless="${users!=null and not #lists.isEmpty(users)}" th:utext="暂无数据！"></span>
			<table class="tablelist mauto" th:if="${users!=null and not #lists.isEmpty(users)}">
				<thead>
					<tr>
						<th width="80">序号</th>
						<th width="100">登录名</th>
						<th width="100">姓名</th>
						<th width="200">备注</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="u,status:${users}">
						<td th:text="${status.count}">序号</td>
						<td th:text="${u.username}">名称</td>
						<td th:text="${u.name}"></td>
						<td th:text="${u.remark}"></td>
						<td>
							<a th:href="@{/admin/user/worker/edit(id=${u.id})}">查看/修改</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="mt10" th:if="${users!=null and not #lists.isEmpty(users)}" th:include="fragment/paginationbar :: paginationbar"></div>
        </div>
	</form>
</body>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function() {
	$(".select1").uedSelect({
		width : 168
	});
	
	$("select[name=pl]").change(function() {
		var cid = $(this).val();
		if (cid == '0') {
			return;
		}
		$.ajax({
   			url : [[@{/admin/base/section/get}]],
   			data : {
   				pl_id: cid
   			},
   			dataType: 'json',
   			type: 'get',
   			async: false,
   			success : function(data, textStatus, jqXHR) {
 				$("select[name=section]").empty();
 				$("select[name=section]").trigger("change");
   				if (data.length > 0) {
   					var options='<option value="0">全部起止段落</option>';
   					
   					for (var i = 0; data.length > i; i++) {
   						options += "<option value='" + data[i].id + "'>" + data[i].name + "</option>";
   	   				}
   					$("select[name=section]").append(options);
   				}
   				$("select[name=section]").trigger("change");
   			}
   		});
	});
	
	$("select[name=section]").change(function() {
		var cid = $(this).val();
		if (cid == '0' || cid == null) {
			return;
		}
		$.ajax({
   			url : [[@{/admin/base/spec/get}]],
   			data : {
   				pl_section_id: cid
   			},
   			dataType: 'json',
   			type: 'get',
   			async: false,
   			success : function(data, textStatus, jqXHR) {
 				$("select[name=spec]").empty();
 				$("select[name=spec]").trigger("change");
   				if (data.length > 0) {
   					var options='<option value="0">全部规格</option>';
   					
   					for (var i = 0; data.length > i; i++) {
   						options += "<option value='" + data[i].id + "'>" + data[i].name + "</option>";
   	   				}
   					$("select[name=spec]").append(options);
   				}
   				$("select[name=spec]").trigger("change");
   			}
   		});
	});
	
	$("select[name=spec]").change(function() {
		var cid = $(this).val();
		if (cid == '0' || cid == null) {
			return;
		}
		
		var plname = $("select[name=pl] option:selected").text();
		var specname = $("select[name=spec] option:selected").text();
		
		$("#pl_name").html(plname + '/' + specname);
	});
});
/*]]>*/
</script>
</html>