<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: header"></head>
<link rel="stylesheet" th:href="@{/assets/css/modify.css}" />
<body>
	<div class="place">
    	<span>位置：</span>
	    <ul class="placeul">
	    	<li><a th:href="@{/welcome}">首页</a></li>
	    	<li>考勤管理 </li>
	    	<li>考勤查看：</li>
	    </ul>
    </div>
    <form id="searchForm" method="post" th:action="@{/admin/base/check/list}" class="formbody">
    <div class="rightinfo">
		<div class="formtext" th:if="${msg!=null}">
			<b th:text="${msg==null?'':msg}"></b>
		</div>
		<div class="mt10">
				<ul class="seachform mauto">
			<!-- <li class="mr20">
				<label>标题：</label>
				<input type="text" name="s_title" th:value="${s_title}" class="new_input"/>
			</li> -->
			<li class="mr20"><label>时间从：</label>
				<input type="text" readonly="readonly" th:value="${s_time==null? '' : s_time}" name="s_time" class="new_input Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
			</li>
			<li class="mr20"><label>到：</label>
				<input type="text" readonly="readonly" th:value="${e_time==null? '' : e_time}" name="e_time" class="new_input Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
			</li>
		    <li class="fr mr0">
		    	<input th:if="${sec!=null and sec.principal!=null and (sec.principal.id==3 or sec.principal.id==4)}" id="exp" name="expButton" type="button" class="scbtn" value="导出"/>
		    	<input id="searchButton" name="searchButton" type="button" class="scbtn" value="查询"/>
		    </li>
		</ul>
			<span th:unless="${checks!=null and not #lists.isEmpty(checks)}" th:utext="暂无数据！"></span>
			<table class="tablelist mauto" th:if="${checks!=null and not #lists.isEmpty(checks)}">
				<thead>
					<tr>
						<th width="100">序号</th>
						<th width="200">内容</th>
						<th width="100">责任人</th>
						<th width="100">事由</th>
						<th width="200">备注</th>
						<th width="200">日期</th>
						<th th:if="${sec!=null and sec.principal!=null and (sec.principal.id==3 or sec.principal.id==4)}">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="c,status:${checks}">
						<td th:text="${status.count}">序号</td>
						<td><a th:href="${(c.href!=null and c.href!='')? c.href:'javascript:void(0)'}" th:text="${c.content}">标题</a></td>
						<td th:text="${c.user_name}"></td>
						<td th:text="${c.reason}"></td>
						<td th:text="${c.remark}"></td>
						<td th:text="${beans.dateFormatter.formatDateToStr(c.create_time)}"></td>
						<td th:if="${sec!=null and sec.principal!=null and (sec.principal.id==3 or sec.principal.id==4)}">
							<a  th:href="@{/admin/base/check/edit(id=${c.id})}">修改</a>
							<a  th:href="@{/admin/base/check/del(id=${c.id})}"  onclick="return confirm('是否确认删除？');">删除</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="mt10" th:if="${checks!=null and not #lists.isEmpty(checks)}" th:include="fragment/paginationbar :: paginationbar"></div>
        </div>
	</div>
	</form>
</body>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function() {
   $("#searchButton").click(function(){
	    var f_t=$("input[name=s_time]").val();
		var t_t=$("input[name=e_time]").val();
		if(f_t.length!=0){
			if(t_t.length==0){
				alert("请输入截止日期！");
				return false;
			}
		}
		if(t_t.length!=0){
			if(f_t.length==0){
				alert("请选择起始日期！");
				return false;
			}
		}
		if(f_t.length!=0&&t_t.length!=0){
			var f = f_t.split("-");
			var t = t_t.split("-");
			if(new Date(f[0],f[1],f[2]) > new Date(t[0],t[1],t[2])){
				alert("开始时间必须小于结束时间");
				return false;
			}
		}
		$("#searchForm").submit();
   }) 
   
   $("#exp").click(function(){
	   var f_t=$("input[name=s_time]").val();
		var t_t=$("input[name=e_time]").val();
		if(f_t.length!=0){
			if(t_t.length==0){
				alert("请输入截止日期！");
				return false;
			}
		}
		if(t_t.length!=0){
			if(f_t.length==0){
				alert("请选择起始日期！");
				return false;
			}
		}
		if(f_t.length!=0&&t_t.length!=0){
			var f = f_t.split("-");
			var t = t_t.split("-");
			if(new Date(f[0],f[1],f[2]) > new Date(t[0],t[1],t[2])){
				alert("开始时间必须小于结束时间");
				return false;
			}
		}
		window.location.href="exp?s_time="+f_t+"&e_time="+t_t;
   });
});
/*]]>*/
</script>
</html>